ul{
    background-color: black;
    color: white;
    padding: 1%;
    padding-left: 7%;
}

ul a{
    text-decoration: none;
    color: white;
}
li{
    display: inline;
    padding: 20px;

}
.nav2{
    padding-left: 17%;

}
.second{
    display: inline;
}
.row{
    width: 100%;
    padding-left: 9%;
    display: flex;
    float:left;
}
.i1{
    width: 15%;
}
.i2{
    width: 4%;
}
.col1{
    width: 50%;
}
.col2{
    width: 50%;
    padding-left: 10%;
    
}
.navbar{
    display: inline;
    padding-right: 10%;
}
.form{
   padding-right: 30%;
}
 
.i3{
    padding-right: 5%;
    padding-left: 5%;
}
/* .row1{
    width: 100%;
    display: flex;
}
.col3{
    width: 20%;
    
}
.col4{
    width: 20%;
   
}
.col5{
    width: 20%;
  
}
.col6{
    width: 20%;
   
}
.col7{
    width: 20%;
    
}
.fourth{
    background-color: rgb(19, 19, 128);
}
.head{
    text-align: center;
    color: aliceblue;
    padding: 1%;
}
.fifth{
    padding-left: 10%;
}
.sixth{
    padding-left: 10%;
}
.head1{
    font-size: 30px;
    font-weight: bold;
    padding-top: 2%;
    padding-bottom: 2%;
}
.i6{
    border-radius: 4%;
}
.seven{
    padding-left: 10%;
}
.row2{
     width: 80%;
    display: flex; 
    column-gap: 3%;
}
.i7{
    border-radius: 5%;
}
.eight{
    padding-left: 10%;
    padding-top: 2%;
}
.nine{
    padding-left: 10%;
}
.row3{
     width: 100%;
     display: flex;
}
.col12{
    width: 15%;
    background-color: blanchedalmond;
    padding-left: 3%;
}
.col13{
    width: 85%;
    padding-left: 10%;
}
.row4{
    width: 30%;
    display: flex;
    column-gap: 4%;
   
}
.head2{
      font-size: x-large;
      
}
 */
